<div class="container mt-4">
<div class="d-flex justify-content-between mb-4">
    <h1><%= @task.title %></h1>
    <button class="btn btn-sm border border-3">
        <i class="fa-solid fa-pen"></i>
        <%= link_to "Edit this task", edit_task_path(@task) %></button>
</div>
<div class="alert alert-dark" role="alert">
  <%= @task.details %>
</div>
<p>
    <% if @task.completed %>
            <i class="fa-regular fa-square-check"></i> <span>This task is completed</span>
        <% else %>
            <i class='fa-regular fa-square'></i> <span>This task is not completed yet</span>
    <% end %>
</p>
<hr>
<p class="text-primary"><i class='fa-solid fa-clock-rotate-left'></i> <%= link_to "Back to list", tasks_path %></p>
</div>
